.stats {
    height: 100%;
    width: 100%;
	margin-top: 3rem;
    display: flex;
	flex-direction: column;
    align-items: center;
	gap:2rem;
}

.table {
	width: 100%;
	max-width: 800px;
}


table tbody tr:hover {
	box-shadow: 0 0 3px #92D3F5;
}

table td {
	padding: 8px;
}
table td:last-child {
	width: 10%;
	min-width: 5%;
}
table thead td {
	background-color: #1C2A43;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #FEF5EB;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.pages a {
	color: black;
	text-decoration: none;
}
.pages a:hover {
	text-decoration: underline;
}
