@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Itim", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.logo {
    width: 100px;
    height: 100px;
}

.login {
    font-family: "Itim", sans-serif;
    padding: 0.3rem 0.8rem;
    background-color: #F38877;
    border: 1px solid black;
    color:white;
    border-radius: 8px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 0.2);
    text-shadow: 0px 1px 1px #ACDFDE;
    transition: background-color 0.1s ease;
}

.login:hover {
    transition: background-color 0.1s ease;
    box-shadow: 0px 1px 1px #F38877;
    border: 2px solid #F38877;
    background-color: #FEF5EB;
    color:rgb(0 0 0 / 0.7);
}

@media (min-width:936px) {
    body {
        font-family: "Itim", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 60%;
        margin: auto;
    }
}