@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Itim", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background: rgb(255,254,251);
    background: linear-gradient(150deg, rgba(255,254,251,1) 0%, rgba(254,245,235,1) 100%);
}


.hero {
    height: 600px;
    background-image: url('/static/hero.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
    margin: auto ;
    max-width: 1368px;
    width: 100%;
}

.h1-info {
    text-align: center;
    margin-top: 1rem;
}

.hero-main {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.hero-input {
    padding: 2.5rem 2rem;
    min-height: 225px;
    max-height: 400px;
    width: 500px;
    background-color: #C4E8E799;
    backdrop-filter: blur(3px);
    border: 1px solid #4780AD;
    border-radius: 30px;
    margin-left: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
}

.input-info {
    text-align: center;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: auto;

}

nav {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 24px;
}

.nav-selection {
    display: flex;
    gap: 2rem;
    
}

.nav-selection a {
    text-decoration: none;
    color:black;
}
.nav-selection a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.logo {
    width: 75px;
    height: 75px;
}

.login {
    margin-right: 1rem;
    font-family: "Itim", sans-serif;
    padding: 0.3rem 0.8rem;
    background-color: #1C2A43;
    border: 1px solid black;
    color:white;
    border-radius: 6px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 0.2);
    text-shadow: 0px 1px 1px #ACDFDE;
    transition: all 50ms ease-in-out;
}

.login:hover {
    transition: all 50ms ease-in-out;
    box-shadow: 0px 1px 2px #F38877;
    border: 1px solid #F38877;
    background-color: #FEF5EB;
    color:rgb(0 0 0 / 0.7);
}

/* input */

.hero-submit-button {
    font-family: "Itim", sans-serif;
    padding: 0.25rem 0.75rem;
    background-color: #1C2A43;
    color:white;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    border: 1px solid #4780AD
}

.hero-submit-button:hover {
    transition: all 50ms ease-in-out;
    background-color: #FEF5EB;
    color:rgb(0 0 0 / 0.7);
}

.link-icon {
    width: 24px;
    height: 24px;
    background-image: url('link.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #4780AD; 
    border-radius: 8px;
    overflow: hidden;
}

.input-group-addon {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    /* flex: 1; */
    width: 100%;
    padding: 6px 12px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #FEF5EB;
}

.form-control::placeholder {
    color: #6c757d; 
}

.input-group:focus-within {
    border-color: #1c2a43c4;
    box-shadow: 0 0 2px #1c2a43c4; 
}

.hero-div-submit {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 1.5rem;
}

.checkbox-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}

.checkbox-span input {
    width: 12px;
    height: 12px;
    margin: 2px;
}

.stats-main {
    height: 600px;
    background-color: #1C2A43;
}